<!DOCTYPE html>
<html>
<head>
</head>
<body class="web_page">

<div class="divider"></div>
  <!-- <div class="left_hand_side">
    <div class="scroll_container">
      <%@dogs.each do |dog|%>
        <p class="dog_name_title">
          <%=dog.name%>
        </p>
        <img class="homepage_scrolling_image" id="picture_1" ></img>
        <div class="dog-points"><%= dog.points%> people have upvoted this dog </div>
        <p class="dog_description">
            <%=dog.description%>
        </p>
        <%unless @user.has_dog?(dog)%>
          <%= button_to 'Who\'s a Good Dog?', button_path(id: dog.id), class: "good_dog_btn" %>
        <%else%>
          <div class="clicked_good_dog_btn"> I'm a Good Dog!!!! </div>
         <%end%>

      <%end%>
    </div>
  </div> -->



  <div class="left_hand_side">

  <div class="scroll_container">
    <%@dogs.each do |dog|%>
      <p class="dog_name_title">
        <%=dog.name%>
      </p>
      <%= dog.avatars.each do |avatar| %>
        <%= image_tag (avatar.url) %>
          <%break %>
      <%end%>
      <div class="dog-points"><%= dog.points%> people have upvoted this dog </div>
      <p class="dog_description">
          <%=dog.description%>
      </p>
      <%unless @user.has_dog?(dog)%>
      <%= button_to 'Who\'s a Good Dog?', button_path(id: dog.id), class: "good_dog_btn" %>
      <%else%>
      <button class="clicked_good_dog_btn"> I'm a Good Dog! </button>
      <%end%>
      <span class = "hr"></span>
    <%end%>
  </div>

  </div>

  <div class="right_hand_side">

    <div >
      <ol class="leaderboard">
        <li id="leaderTitle"> Leaderboard </li>
        <% count = 0%>
        <% @dogs.order(:points)%>
        <% @dogs.each do |dog| %>
          <% count += 1%>
          <% if count < 10%>
            <li>
              <p class="leaderb_list_text"><a href=# class="leaderb_list_item"><%= dog.name%></a></p><p class="leaderb_list_text" id="dog_1"><%=dog.points%></p></li>
          <% else %>
            <% return %>
          <%end%>
        <% end %>
      </ol>
    </div>
  </div>


  <script>
  var count = 0;

  function voteDog(dog){
    count++;
    console.log(count);
    console.log(dog);
    document.getElementById("dog_1").innerHTML = count;




  }
  </script>

  <script>
  var dog;
  function incrPoints(id){

  }
  </script>
</body>
</html>
