<!DOCTYPE html>
<head>
    <title>My Dog Profile</title>

    <link rel="stylesheet" href="assets/dogs.scss">
</head>

<h1>Dogs List</h1>
<%= link_to 'New Dog', new_dog_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Description</th>
    <th></th>
  </tr>

  <% @dogs.each do |dog| %>
    <tr>
      <td><%= dog.name %></td>
      <td><%= dog.breed %></td>
      <td><%= dog.age %></td>
      <td><%= dog.description %></td>
      <td><%= link_to 'Show', dog_path(dog) %></td>
      <td><%= link_to 'Edit', edit_dog_path(dog) %></td>
      <td><%= link_to 'Delete',
                 dog_path(dog),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
