<!DOCTYPE html>
<head>
  <title>Shelter List</title>
</head>

<h1 id="shelterTitle">List of Shelters</h1>

<body>
<%= link_to 'new', new_shelter_path, {class: "btn btn-info"} %>

<div class="container">

  <p> This is our list of shelters </p>

  <table class="table table-hover">
    <thead>
      <tr>
      <th> Shelter Name</th>
      <th> Shelter Location </th>
      <th> Shelter City </th>
      <th> Shelter Latitude</th>
      <th> Shelter Longitude</th>
    </tr>
    </thead>
    <tbody>
      <% @shelters.each do |shelter|%>
      <tr>
      <td><%= shelter.name%></td>
      <td><%= shelter.address%></td>
      <td><%= shelter.city%></td>
      <td><%= shelter.lat %></td>
      <td><%= shelter.lng %></td>
      <td><%= link_to 'show', shelter_path(shelter)%></td>
      <td><%= link_to 'edit', edit_shelter_path(shelter)%></td>
      <td><%= link_to 'delete',
            shelter_path(shelter),
                            method: :delete,
                            data: {confirm: 'Are you sure?'}%> </td>
    </tr>
      <% end %>
      <!-- <tr id="lastRow">
        <td> Placeholder </td>
        <td> Placeholder </td>
        <td><a href=#> placeholder.com</a></td>
      </tr> -->
    </tbdoy>
  </table>
</div>





<div id='map' data-shelters="<%= @shelters.to_json%>"></div>
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 29.6500853, lng: -82.3235237},
      zoom: 17
    });
  }

  $(document).ready(
    function(){
      var shelters = $("#map").data("shelters");


      for(var index = 0; index < shelters.length; index++)
      {
        var shelter = shelters[index];
        var position = { lat: parseFloat(shelter.lat), lng: parseFloat(shelter.lng)} ;

        var marker = new google.maps.Marker({title: shelter.name, position: position, map: map});


      }
    }
  );
</script>

<!-- <script>
addSheltRow();

function addSheltRow(){
  var sheltName = $("<td></td>").text("TestName");
  var sheltLoc = $("<td></td>").text("TestLocation");
  var sheltLink = $("<td></td>").text("TestLink");
  var nRow;

/*
  var row = $("<tr></tr>").append(sheltName, sheltLoc, sheltLink);
  nRow = row;
  $("#lastRow").after(nRow);
  (nRow).after(row);
  */

for(var count = 10; count > 0; count--){
  var name2 = document.createElement("td");
  var loc2 = document.createElement("td");
  var link2 = document.createElement("td");

  name2.innerHTML = "Name " + count;
  loc2.innerHTML = "Loc " + count;
  link2.innerHTML = "Link " + count;

  var row2 = document.createElement("tr");
  row2.append(name2, loc2, link2);

  $("#lastRow").after(row2);
}


}


</script> -->
</body>
