<h1>List of Shelters</h1>



<body>

<%= link_to 'new', new_shelter_path %>


<div class="container">
  <p> This is our list of shelters </p>

  <%= form_for Shelter.new do |f| %>

  <%= f.label :name, "Please enter shelter name" %>
  <%= f.text_field :name %> <br>
  <%= f.label :address, "Please enter the address" %>
  <%= f.text_area :address %> <br>
  <%= f.label :city, "Please enter the city"%>
  <%= f.text_field :city %>
  <%= f.submit "Make Shelter" %>



  <%end%>

  <div class="container">

  </div>

  <p> Ignore the table for now </p>

  <table class="table table-hover">
    <thead>
      <tr>
      <th> Shelter Name</th>
      <th> Shelter Location </th>
      <th> Shelter Link </th>
    </tr>
    </thead>
    <tbody>
      <% @shelters.each do |shelter|%>
      <tr>
      <td><%= shelter.name%></td>
      <td><%= shelter.address%></td>
      <td><%= shelter.city%></td>
      <td><%= link_to 'show', shelter_path(shelter)%></td>
      <td><%= link_to 'edit', edit_shelter_path(shelter)%></td>
    </tr>
      <% end %>
      <tr id="lastRow">
        <td> Placeholder </td>
        <td> Placeholder </td>
        <td><a href=#> placeholder.com</a></td>
      </tr>
    </tbdoy>
  </table>
</div>



<p> Divider </p>
<div id='map' data-shelters="<%= @all_shelters.to_json%>"></div>

<script>
addSheltRow();

function addSheltRow(){
  var sheltName = $("<td></td>").text("TestName");
  var sheltLoc = $("<td></td>").text("TestLocation");
  var sheltLink = $("<td></td>").text("TestLink");
  var nRow;

/*
  var row = $("<tr></tr>").append(sheltName, sheltLoc, sheltLink);
  nRow = row;
  $("#lastRow").after(nRow);
  (nRow).after(row);
  */

for(var count = 10; count > 0; count--){
  var name2 = document.createElement("td");
  var loc2 = document.createElement("td");
  var link2 = document.createElement("td");

  name2.innerHTML = "Name " + count;
  loc2.innerHTML = "Loc " + count;
  link2.innerHTML = "Link " + count;

  var row2 = document.createElement("tr");
  row2.append(name2, loc2, link2);

  $("#lastRow").after(row2);
}


}


</script>
</body>
