<body>
<div class="flex_container">
<h1> Name of Shelter </h1>
<h3 id="shelt_name"><%= @shelter.name %> </h3>
<h1> Map of the shelter </h1>
<div id='map' data-shelters="<%= @shelter.to_json%>" class="rounded_map"></div>
</script>
<h1> Dog names: </h1>
<% @dogs.each do |dog|%>
    <h3><%= dog.name %></h3>
<% end %>
<h1> Dogs: </h1>
    <div id = "carousel-example-generic" class= "carousel slide" data-ride= "carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <% @dogs.each do |dog| %>
            <% avatar = dog.avatars[0]%>
            <div class="item">
              <% if avatar != nil %>
              <%= link_to(image_tag(avatar.url, alt: 'Image'), avatar.url, target: '_blank') %>
              <%else%>
              <%end%>
              <div class="carousel-caption">
                <h3><%= link_to dog.name, dog_path(dog) %></h3>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          <%end%>
        </div>

      </div>

          <!-- Controls -->



    <script type="text/javascript">
        $(function(){
        $('.carousel').carousel();
        $('.item:first').addClass('active');
        });
    </script>

<div id="paypal-button"></div>
</div>
<script>
paypal.Button.render({
    // Configure environment
    env: 'sandbox',
    client: {
      sandbox: 'demo_sandbox_client_id',
      production: 'demo_production_client_id'
    },
    // Customize button (optional)
    locale: 'en_US',
    style: {
      size: 'medium',
      color: 'gold',
      shape: 'pill',
      label: 'pay',
      tagline :false
    },
    // Set up a payment
    payment: function (data, actions) {
      return actions.payment.create({
        transactions: [{
          amount: {
            total: '0.01',
            currency: 'USD'
          }
        }]
      });
    },
    // Execute the payment
    onAuthorize: function (data, actions) {
      return actions.payment.execute()
        .then(function () {
          // Show a confirmation message to the buyer
          window.alert('Thank you for your purchase!');
        });
    }
  }, '#paypal-button');
  </script>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 29.6436325, lng: -82.3549302},
        zoom: 13
      });
    }

    $(document).ready(
      function(){
        var shelters = $("#map").data("shelters");
        console.log(shelters);


        var shelter = shelters;
        var position = { lat: parseFloat(shelter.lat), lng: parseFloat(shelter.lng)} ;
          //console.log(shelter);

        var marker = new google.maps.Marker({title: shelter.name, position: position, map: map});


        
      }
    );
  </script>
</body>
