<h3>Shelter</h3>

<p>
  <strong>Name:</strong>
  <%= @shelter.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shelter.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @shelter.city %>
</p>

<%= link_to 'Edit', edit_shelter_path(@shelter) %> |
<%= link_to 'Back', shelters_path %>
